{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/timeline.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l8">
                <ul class="list">
                    {% for time in timeline %}
                    <li>
                        <span class="date">{{time['year']}}</span>
                        <span class="title">{{time['name']}}</span>
                        <span class="content">{{time['desc']}}</span>
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


{% endblock %}